<main class="page">
  <section class="shopping-cart dark">
    <div class="container">
      <div class="block-heading">
        <h2>Shopping Cart</h2>
      </div>
      <div class="content">
        <div class="row">
          <div class="col-md-12 col-lg-8">
            <div class="items">
              <% if @cartItems.length != 0 %>
                <% @cartItems.each do |item| %>

                  <%= render partial: 'shared/cartItem', :locals => {:item => item} %>

                <% end %>
              <% else %>
                <div class="row">
                  <div class="col-md-12" style="text-align: center">
                    <br>
                    <br>
                    <h1>Cart is empty!</h1>
                  </div>
                </div>
              <% end %>

            </div>
          </div>
          <div class="col-md-12 col-lg-4">
            <div class="summary">
              <h3>Summary</h3>
              <div class="summary-item"><span class="text">Total</span><span class="price">£<%= number_with_precision(@total, :precision => 2) %> (GBP)</span></div>
              <% %w(EUR USD CAD AUD HKD).each do |cur| %>
                <span class="price"><%= humanized_money_with_symbol MoneyRails.default_bank.exchange(@total*100,"GBP",cur)  %> (<%= cur %>)</span> <br>
              <% end %>
              <%= button_to 'Checkout', checkout_path, :method => 'get', :class => "btn btn-primary btn-lg btn-block",:disabled => @cartItems.length==0 %>
              <%= button_to 'Empty cart', '/cart/empty', :method => 'get', :class => "btn btn-secondary btn-lg btn-block",:disabled => @cartItems.length==0 %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</main>