<div class="container">
  <h2><%= I18n.t('sessions.new.name') %></h2>

<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="field">
    <div class="row">
      <div class="col-md-4 offset-4">
    <%= f.label :email, "Email Address" %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
    </div>
  </div>
  </div>

  <div class="field">
    <div class="row">
      <div class="col-md-4 offset-4">
        <%= f.label :password, "Password" %><br />
        <%= f.password_field :password, autocomplete: "current-password" %>
      </div>
    </div>
  </div>

  <% if devise_mapping.rememberable? %>
    <div class="field">
      <%= f.check_box :remember_me %>
      <%= f.label :remember_me %>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit "Sign In" %>
  </div>
<% end %>

  <%= render "users/shared/links" %>
</div>


