<%= form_with(model: purchase, local: true) do |form| %>
  <% if purchase.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(purchase.errors.count, "error") %> prohibited this purchase from being saved:</h2>

      <ul>
      <% purchase.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :ticket_id %>
    <%= form.collection_select :ticket_id, Ticket.all, :id, :name, {:include_blank => false}%>
  </div>


  <div class="field">
    <%= form.label :order_id %>
    <%= form.collection_select :order_id, Order.all, :id, :user, {:include_blank => false}%>
  </div>

  <div class="field">
    <%= form.label :qty %>
    <%= form.number_field :qty %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
