<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @purchase.user %>
</p>

<p>
  <strong>Ticket:</strong>
  <%= @purchase.ticket %>
</p>

<p>
  <strong>Comments:</strong>
  <%= @purchase.comments %>
</p>

<p>
  <strong>Pricetotal:</strong>
  <%= @purchase.PriceTotal %>
</p>

<%= link_to 'Edit', edit_purchase_path(@purchase) %> |
<%= link_to 'Back', purchases_path %>
