<p id="notice"><%= notice %></p>

<p>
  <strong>Ticket:</strong>
  <%= @purchase.ticket %>
</p>

<p>
  <strong>Order:</strong>
  <%= @purchase.order %>
</p>

<p>
  <strong>Qty:</strong>
  <%= @purchase.qty %>
</p>

<%= link_to 'Edit', edit_purchase_path(@purchase) %> |
<%= link_to 'Back', purchases_path %>
