<p id="notice"><%= notice %></p>

<p>
  <strong>Ticketid:</strong>
  <%= @purchase.TicketID %>
</p>

<p>
  <strong>Comments:</strong>
  <%= @purchase.Comments %>
</p>

<p>
  <strong>Pricetotal:</strong>
  <%= @purchase.PriceTotal %>
</p>

<p>
  <strong>Purchaserid:</strong>
  <%= @purchase.PurchaserID %>
</p>

<%= link_to 'Edit', edit_purchase_path(@purchase) %> |
<%= link_to 'Back', purchases_path %>
