<p>
  <div class="event-box yellow row mb-5" style="padding-top: 20px;">
    <div class="col-md-2 col-sm-3 col-12 text-center">
      <a><img src="" class="mx-auto img-fluid" alt="product thumbnail"></a>
    </div>
    <div class="col-md-6 col-sm-7 col-6" style="padding-bottom: 20px;">
      <%= link_to event do %>
        <h5 style="font-family: 'Domine', serif; font-size: xx-large;"><%= event.name %></h5>
      <% end %>
      <p><%= event.description %></p>
      <p>Cheapest available ticket: £<%= cheapestTicket(event.id) %></p>
    </div>
    <div class="col-md-4 col-sm-2 col-6 text-right pl-0">
      <p class="text-wide text-truncate"><i class="material-icons small">location_on</i>
        <%= event.location %></p>
      <p><%= event.eventType %></p>
      <p><%= event.eventDate %></p>

    </div>
  </div>
  <br \>
</a>
