
<div class= 'footerView'>
<ul class = 'footer'>
  <li> <%= link_to "Home", '/home' %> </li>
  <li> <%= link_to "About", '/about' %> </li>
  <li> <%= link_to "Events", '/events' %> </li>
  <li> <%= link_to "BuyTickets", '/tickets' %> </li>
  <li> <%= link_to "Contact us", '/contact' %> </li>
  <li> <%= link_to "Twitter", '/twitter' %> </li>
  <li> <%= link_to "Search", '/search' %> </li>
  <li> <%= link_to "T & Cs", '/termsandconditions' %> </li>
  <li> <%= link_to "Privacy", '/privacy' %> </li>
  <li> <%= link_to "Ticket Sellers", '/ticketseller' %> </li>




<!--
  <li><a href="/tickets">Tickets</a></li>
  <li><a href="/purchases">Purchases</a></li> -->
</ul>

</div>
