
<div class= 'footerView'>
  <ul class = 'footer'>
    <li><%= link_to '/home' do %>Home <i class= "fa fa-home"></i><% end %></li>
    <li> <%= link_to "About", '/about' %> </li>
    <li><%= link_to '/events' do %>Events <i class= "fa fa-envelope-o"></i><% end %></li>
    <li><%= link_to '/tickets' do %>Buy Tickets <i class= "fa fa-ticket"></i><% end %></li>
    <li> <%= link_to "Contact us", '/contact' %> </li>
    <li><%= link_to '/twitter' do %>Twitter <i class= "fa fa-twitter"></i><% end %></li>
    <li><%= link_to '/search' do %>Search <i class= "fa fa-search"></i><% end %></li>
    <li> <%= link_to "T & Cs", '/termsandconditions' %> </li>
    <li> <%= link_to "Privacy", '/privacy' %> </li>
    <li> <%= link_to "Ticket Sellers", '#', :'data-toggle' => "modal", :'data-target' => ".modalLogin" %> </li>



    <!--
      <li><a href="/tickets">Tickets</a></li>
      <li><a href="/purchases">Purchases</a></li> -->
  </ul>

</div>