<ul class='header'>

<%= image_tag("eventus.png", :align=> "left", :size => "60x60") %>

  <li><a href="/home">Home</a></li>
  <li><a href="/about">About</a></li>
  <li><a href="/events">Events</a></li>
  <li><a href="/recent">Recent</a></li>
  <div id="Signin">
    <li><%= link_to t('Sign In'), new_user_session_path %></li>
    <li>
      <%= link_to t('Register'), new_user_registration_path %>
    </li>
  </div>
<!--

  <li><a href="/tickets">Tickets</a></li>
  <li><a href="/purchases">Purchases</a></li> -->

</ul>
<p><% if user_signed_in? %>
    <%= "Welcome,#{current_user.email}"%><br>
  <% else %>
  <% end %><hr>
  </p>


<nav>

  <div class="btn-group">
      <div class="col-sm-4 col-md-3">
      <button type="button" class="btn btn-default" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="font-size: 12px">
        <i class="glyphicon glyphicon-user"></i><%= link_to t(' My Account'), edit_user_registration_path %>
        <span class="caret"></span>
      </button>

      <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">

       <li style="font-size: 12px"><%= link_to t('Profile'), edit_user_registration_path %> </li>
        <li style="font-size: 12px"><%= link_to t('My Tickets'), edit_user_registration_path %></li>
        <li style="font-size: 12px"></i><%= link_to t('Settings'), edit_user_registration_path %></li>
        <div class="dropdown-divider"></div>
        <li style="font-size: 12px"><%= link_to t('Sign Out'), destroy_user_session_path, method: 'delete' %></li>
      </ul>
      </div>
    </div>

</nav>



