<ul class='header'>

<%= image_tag("eventus.png", :align=> "left", :size => "60x60") %>

  <li><a href="/home">Home</a></li>
  <li><a href="/about">About</a></li>
  <li><a href="/events">Events</a></li>
  <li><a href="/recent">Recent</a></li>
  <div id="Signin">
    <li><%= link_to t('Sign In'), new_user_session_path %></li>
    <li>
      <%= link_to t('Register'), new_user_registration_path %>
    </li>
  </div>
<!--
  <li><a href="/tickets">Tickets</a></li>
  <li><a href="/purchases">Purchases</a></li> -->
</ul>


<nav>
  <% if user_signed_in? %>
    <%= "Welcome,#{current_user.email}"%><br>
    <div class="btn-group">
      <button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <%= link_to t('My Account'), edit_user_registration_path %>
      </button>
      <div class="dropdown-menu dropdown-menu-right">
       <li><button class="dropdown-item" type="button"><%= link_to t('Profile'), edit_user_registration_path %></button> </li>
        <li><button class="dropdown-item" type="button"><%= link_to t('My Tickets'), edit_user_registration_path %></button></li>
        <li><button class="dropdown-item" type="button"><%= link_to t('Settings'), edit_user_registration_path %></button></li>
      </div>
    </div>
    <%= '|' %>
    <%= link_to t('Sign Out'), destroy_user_session_path, method: 'delete' %>
  <% else %>
  <% end %>
</nav>


