<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-slider/10.6.2/bootstrap-slider.min.js"></script>
<script>

    $(function(){
        $('.slider-range').slider({
            range: true,
            values: [ <%= @minPrice %>, <%= @maxPrice %>],
            min: 0,
            max: <%= @maxPriceGlobal %>,
            step: 5,
            slide: function( event, ui ) {
                $("#max").val("£" + ui.values[1]);
                $("#min").val("£" + ui.values[0]);
            }
        });
        $( "#max" ).val( "£" + $( ".slider-range" ).slider( "values", 1 ));
        $( "#min" ).val( "£" + $( ".slider-range" ).slider("values", 0 ));

        <% if @beginDate.present? %>
        document.getElementById('beginDate').value= "<%= @beginDate %>";
        <% end %>
        <% if @endDate.present? %>
        document.getElementById('endDate').value= "<%= @endDate %>";
        <% end %>

    });

    function applyFilters(page,sort) {

        let data = {};
        data["priceMin"] = document.getElementById('min').value.substring(1);
        data["priceMax"] = document.getElementById('max').value.substring(1);
        if ($('.categoryChoice.active')[0] != undefined)
            data["category"] = $('.categoryChoice.active')[0].id;
        if (document.getElementById('distance').value !== '0')
            data["distance"] = document.getElementById('distance').value;
        data["beginDate"] = document.getElementById('beginDate').value;
        data["endDate"] = document.getElementById('endDate').value;
        data["location"] = document.getElementById('location').value;
        data["page"] = page;
        if(sort!=undefined)
            data["sort"]=sort;
        else
            data["sort"]=<%=@sortNum || 1;%>;
        if(page!=undefined)
            data["page"]=page;
        let link = "";
        for (let key in data) {
            if (data[key] === undefined || data[key] === "" || data[key].length === 0)
                continue;
            if (link != "") {
                link += "&";
            }
            link += key + "=" + encodeURIComponent(data[key]);
        }

        window.location.href = "/events?" + link;
    }


</script>
<div class="container py-3" style="padding-top: 20px;">
  <header style="font-size: xx-large;">Events</header>

  <div class="row mt-2" style="padding-top: 20px">
    <div class="col-md-3 pb-4">
      <!-- product sidebar filters -->
      <div class="row">

        <!-- categories -->
        <div class="col-md-12 col-6 mb-4">
          <div class="list-group small rounded-0">
            <div class="list-group-item rounded-0 bg-light text-uppercase text-dark">Event Type</div>
            <% Event::eventTypes.each do |type| %>
              <div class="list-group-item list-group-item-action categoryChoice
              <%if @category and @category==type[0] %>
                   active
              <% end %>
              " id="<%= type[0] %>" data-toggle="list"><%= type[0] %>
                <span class="badge badge-pill badge-light float-right"><%= @eventsNoCategory.where(eventType: type[1]).count %></span>
              </div>
            <% end %>
          </div>
        </div>

        <!-- price range slider -->
        <div class="col-md-12 col-6 mb-4">
          <div class="list-group small rounded-0">
            <div class="list-group-item rounded-0 bg-light text-uppercase text-dark">Price range</div>
            <div class="list-group-item">
              <div class="slider-range"></div>
            </div>
            <div class="list-group-item" style="align-content: center">
              <label for="min">Min: </label>
              <input type="text" id="min" style="border:0; font-weight: bold;">

              <div style="align-content: end;">
                <label for="max">Max: </label>
                <input type="text" id="max" style="border:0; font-weight: bold;">
              </div>
            </div>
          </div>
        </div>

        <!-- date filter selector -->
        <div class="col-md-12 col-6 mb-4">
          <div class="list-group small rounded-0">
            <div class="list-group-item rounded-0 bg-light text-uppercase text-dark">Date</div>
            <div class="list-group-item">

              <div class="input-daterange input-group" id="datepicker">
                <input type="date" class="input-sm form-control" id="beginDate" name="start" placeholder="date"/>
                <span class="input-group-addon">to</span>
                <input type="date" class="input-sm form-control" id="endDate" name="end" placeholder="date"/>
              </div>
            </div>
          </div>
        </div>

        <!-- distance slider -->
        <div class="col-md-12 col-6 mb-4">
          <div class="list-group small rounded-0">
            <div class="list-group-item bg-light text-uppercase text-dark">Within ... miles</div>
            <div class="list-group-item">
              <input type="text" style="width: 100%; background-color: #FFF6A4" id="distance" data-provide="slider" data-slider-ticks="[0, 25, 50, 75, 100]" data-slider-ticks-snap-bounds="30" data-slider-ticks-labels='["0","25", "50", "75", "100"]' data-slider-value="0" step="25"/>
              <input type="text" class="input-sm form-control" id="location" name="location" placeholder="Location"/>
            </div>
          </div>
        </div>

        <!-- apply filters button -->
        <div class="col-md-12 col-6 mb-4">
          <div class="list-group small rounded-0">
            <button id="applyButton" class="btn btn-block btn-primary button-color" onclick="applyFilters()">Apply</button>
            <%=link_to "Clear filters", events_path, :action => 'get', :class => "btn btn-block btn-outline-secondary" %>
          </div>
        </div>

      </div>
    </div>

    <!-- site section -->
    <div class="col-md-9">

      <!-- filter drop down -->
      <div class="row align">
        <div class="col-sm-10 mb-1" style="text-align: right;">
          <div class="d-flex align-items-end flex-column" style="align-content: end;">

            <div class="p-2 dropdown">
              <button class="btn btn-primary dropdown-toggle button-color" id="menu1" type="button" data-toggle="dropdown">Sort
                by: <%= @sort %>
                <span class="caret"></span></button>
              <ul class="dropdown-menu" role="menu" aria-labelledby="menu1">
                <li role="presentation"><a role="menuitem" onclick="applyFilters(<%= @page %>,'1')" tabindex="-1" href="#">Name (ascending)</a></li>
                <li role="presentation"><a role="menuitem" onclick="applyFilters(<%= @page %>,'2')" tabindex="-1" href="#">Name (descending)</a></li>
                <li role="presentation" class="divider"></li>
                <li role="presentation"><a role="menuitem" onclick="applyFilters(<%= @page %>,'3')" tabindex="-1" href="#">Price (ascending)</a></li>
                <li role="presentation"><a role="menuitem" onclick="applyFilters(<%= @page %>,'4')" tabindex="-1" href="#">Price (descending)</a></li>
                <li role="presentation" class="divider"></li>
                <li role="presentation"><a role="menuitem" onclick="applyFilters(<%= @page %>,'5')" tabindex="-1" href="#">Date (ascending)</a></li>
                <li role="presentation"><a role="menuitem" onclick="applyFilters(<%= @page %>,'6')" tabindex="-1" href="#">Date (descending)</a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>

      <!-- map with markers -->

      <div style='width: 100%; padding-bottom: 20px;'>
        <div id="map" style='width: 100%; height: 500px;'></div>
      </div>

      <script type="text/javascript">
          handler = Gmaps.build('Google');
          handler.buildMap({provider: {}, internal: {id: 'map'}}, function () {
              markers = handler.addMarkers(<%=raw @events_default.to_json %>);
              handler.bounds.extendWith(markers);
              handler.fitMapToBounds();
          });
      </script>

      <!-- product list-->
      <% @events[((@page-1)*3)..((@page-1)*3+2)].each do |event| %>

        <%= render :partial => 'shared/eventItem', locals:{event:event} %>

      <% end %>

      <!-- pagination -->
      <div class="row">
        <div class="col-lg-6 mx-lg-auto py-2" id="_">
          <ul class="pagination justify-content-center">
            <li class="page-item blue-text" onclick = "applyFilters(<%= @page - 1 %>)" href="#">
              <a class="page-link border-0" href="#" aria-label="Previous">
                <span aria-hidden="true">❮</span>
                <span class="sr-only">Previous</span>
              </a>
            </li>
            <% (1..2).each do |i| %>
              <% if (@page-i)*2<@events.length and @page-i>=1%>
                <li class="page-item"><a class="page-link border-0" onclick = "applyFilters(<%= @page - i %>)" href="#"><%= @page - i %></a></li>
              <% end %>
              <% end %>
              <li class="page-item active button-color">
                <a class="page-link border-0 button-color"> <%= @page %> <span class="sr-only button-color">(current)</span></a>
              </li>
              <% (1..2).each do |i| %>
                <% if (@page+i)*2<@events.length and @page+i>=1%>
                  <li class="page-item"><a class="page-link border-0" onclick = "applyFilters(<%= @page + i %>)" href="#"><%= @page + i %></a></li>
                <% end %>
            <% end %>
              <a class="page-link border-0" href="#_" aria-label="Next">
                <span aria-hidden="true">❯</span>
                <span class="sr-only">Next</span>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>

</div>
