<% content_for :head_tags do %>
  <%= action_cable_meta_tag %>
  <%=javascript_include_tag 'cable.js'%>
<% end %>

<script>
    function get_reading() {
        App.socket.viewed();
    }
</script>

<div class="container py-3" style="padding-top: 20px;">
  <h1 style="font-size: xx-large;"><%=@event.name%></h1>

  <div class="container event-indiv">
    <div class="row align-items-center" style="padding-top: 10px; text-align: center;">

      <!-- site section -->
      <!-- map with marker, can and should be replaced with picture of event set by user -->
      <div class="col-8">

        <div style='width: 100%; padding-bottom: 20px;'>
          <div id="map" style='width: 100%; height: 375px;'></div>
        </div>

        <script type="text/javascript">
            handler = Gmaps.build('Google');
            handler.buildMap({
                    provider: {
                        zoom: 17,
                        center: new google.maps.LatLng(<%=@event.latitude%>,<%=@event.longitude%>)
                    },
                    internal: {id: 'map'}},

                function(){
                    markers = handler.addMarkers([
                        {
                            lat: <%=@event.latitude%>,
                            lng: <%=@event.longitude%>,
                            infowindow: "<%=@event.name%>"
                        }
                    ]);
                });
        </script>

      </div>

      <div class ="col-4">
        <h3><i class="material-icons">location_on</i><%=@event.location%></h3>
        <p><%=@event.description%></p>
        <input type="hidden" id="eventID" name="eventID" value="<%= @event.id %>">
        <p>
          <h4>Seller info</h4>
          <div style="font-size: 15px">
          <hr>
          <%= @event.user.firstName + ' ' + @event.user.lastName %>
          <br>
          <%=  mail_to @event.user.email %>
          </div>
        </p>
        <hr>
        <p style="font-size: smaller;">Number of people currently looking at this event:<br>
          <i class="material-icons">account_circle</i>
          <span id="viewingNow"></span>
        </p>
      </div>


    </div>

    <!-- Tabs -->
    <div class="row" style="padding-right: 10px; padding-left: 10px;">
      <ul class="nav nav-tabs nav-justified" style="width: 100%; padding-left: 10px; padding-right: 10px; font-size: medium;">
        <li class="nav-item"><a class="nav-link" role="tab" data-toggle="tab" href="#description">Description</a></li>
        <li class="nav-item"><a class="nav-link" role="tab" data-toggle="tab" href="#ticket-info">Ticket Info</a></li>
        <li class="nav-item"><a class="nav-link" role="tab" data-toggle="tab" href="#nearby">Nearby Events</a></li>
      </ul>
    </div>

    <!-- Tab content-->
    <div class="row" style="width: 100%; text-align: center; padding-top: 10px; padding-left: 30px; padding-right: 10px;">
      <div class="tab-content" style="width: 100%; font-size: medium;">
        <div class="tab-pane fade show" role="tabpanel" id="description">

          <%= render :partial => 'shared/eventItem', locals:{event:@event} %>

        </div>

        <div class="tab-pane fade show" role="tabpanel" id="ticket-info">
          <h3 style="padding-top: 10px;">Tickets:</h3>
          <% Ticket.where(event:@event).each do |ticket| %>

            <%= render partial: 'shared/ticketItem', :locals => {:ticket => ticket} %>


        <% end %>

        </div>

        <div class="tab-pane fade show" role="tabpanel" id="nearby">

          <% @eventsNearby[0..3].each do |event| %>

            <%= render :partial => 'shared/eventItem', locals:{event:event} %>

        <% end %>
          <!-- In case no nearby events exist -->
          <% if @eventsNearby.length == 0%>
            <div class="event-box yellow row mb-5" style="padding-top: 20px;">
                  <h5 style="font-family: 'Domine', serif; font-size: xx-large;">No nearby events found!</h5>
            </div>
          <% end %>

        </div>
      </div>
    </div>

  </div>
</div>

<script>

    $('.nav-tabs a[href="#description"]').tab('show')

</script>