<div class="container bootstrap snippet"style="background-color: #f3f3f3">
  <div class="row">
    <div class="col-md-3 ">
      <h1><%= I18n.t('registrations.edit.name') %></h1>
      <div class="list-group list-group-color">
        <div style="font-size: 16px; font-family: verdana, arial, helvetica, sans-serif;">
          <%= link_to 'Profile', '/users/edit', :method=>:get, :class => "list-group-item list-group-item-action " %>
          <%= link_to 'My Tickets', tickets_path, :method=>:get, :class => "list-group-item list-group-item-action " %>
        </div>
      </div>
    </div>

    <div class="col-md-9">
      <div class="card align-items-center">
        <div class="card-body">
          <h1 class="text-center">Your Tickets</h1>
        </div>
      </div>

    <div class="card">
      <div class="card-body">
        <div class="row">
          <div class="col-md-12">
            <% @myTickets.each do |purchase| %>
              <% @currentTicket = Ticket.find_by(id:purchase.ticket_id) %>
              <% @event = Event.find_by("id"=>@currentTicket.event) %>
              <div class="item row">

                <img src="/assets/eventus.png" width="100" height="100" itemprop="image" alt=""/>
                <div class="info">
                  <div class="title" itemprop="name">Event: <%= link_to @event.name, @event %></div>
                  <div class="subtitle"> Ticket: <%= link_to @currentTicket.name, @currentTicket %> (x<%= purchase.qty %>)</div>
                  <div class="description" itemprop="description">
                    Total Price: £<%= @currentTicket.price * purchase.qty %>
                  </div>
                </div>
              </div>
            <% end %>
            <% if @myTickets.length == 0 %>
              <h2 style="text-align: center;" >No tickets found!</h2>
          <% end %>
          </div>
        </div>
        <hr>
        <div class="col-xs-9">
          <%= button_to 'Buy More Tickets', events_path, :method=>:get, :class => "btn btn-success" %>
        </div>
      </div>
    </div>
  </div>

</div>
</div>
<br>