<head>
  <title>Account page</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

</head>
<br>
<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>
<div class="container bootstrap snippet"style="background-color: #f3f3f3">
  <div class="row">
      <div class="col-md-3 ">
        <h1><%= I18n.t('registrations.edit.name') %></h1>
      <div class="list-group list-group-color">
        <div style="font-size: 16px; font-family: verdana, arial, helvetica, sans-serif;">
          <%= link_to 'Profile', '/users/edit', :method=>:get, :class => "list-group-item list-group-item-action " %>
          <%= link_to 'My Tickets', tickets_path, :method=>:get, :class => "list-group-item list-group-item-action " %>
        </div>
      </div>
    </div>

    <div class="col-md-9">
      <div class="card align-items-center">
        <div class="card-body">
          <h1 class="text-center">Your Profile</h1>
          <div class="row">
            <div class="col-sm-8">
              <div class="text-center">
                <img src="http://ssl.gstatic.com/accounts/ui/avatar_2x.png" class="img-circle" style="border-radius: 50%">
              </div></hr><br>
            </div>
          </div>
        </div>
      </div>

      <div class="card">
        <div class="card-body">
          <div class="row">
            <div class="col-md-12">
              <form>
                <div class="form-group row">
                  <label for="name" class="col-4 col-form-label">First Name</label>
                  <div class="col-8">
                    <%= f.text_field :firstName, :class=>"form-control here", :placeholder => "First Name", :required => "true", :value => current_user.firstName ,autocomplete: "fname" %>
                  </div>
                </div>

                <div class="form-group row">
                  <label for="lastname" class="col-4 col-form-label">Last Name</label>
                  <div class="col-8">
                    <%= f.text_field :lastName, :class=>"form-control here", :placeholder => "Last Name", :required => "true", :value => current_user.lastName , autocomplete: "lname" %>
                  </div>
                </div>

                <div class="form-group row">
                  <label for="email" class="col-4 col-form-label">Email*</label>
                  <div class="col-8">
                    <%= f.email_field :email, :class=>"form-control here", :placeholder => "Email address", :required => "true", :value => current_user.email , autocomplete: "email" %>
                  </div>
                </div>

                <div class="form-group row">
                  <label for="password" class="col-4 col-form-label">New Password <br> (leave blank if you don't want to change it)</label>
                  <div class="col-8">
                    <%= f.password_field :password, :class=>"form-control here", :placeholder => "New password", autocomplete: "new-password" %>
                  </div>
                </div>

                <div class="form-group row">
                  <label for="newpass" class="col-4 col-form-label">Verify New Password</label>
                  <div class="col-8">
                    <%= f.password_field :password_confirmation, :class=>"form-control here", :placeholder => "Verify new password", autocomplete: "new-password" %>
                  </div>
                </div>

                <div class="form-group row">
                  <label for="newpass" class="col-4 col-form-label">Current Password*</label>
                  <div class="col-8">
                    <%= f.password_field :current_password, :class=>"form-control here", :placeholder => "Verify current password", :required => "true", autocomplete: "current-password" %>
                  </div>
                </div>

                <div class="form-group row">
                  <div class="offset-4 col-8">

                    <br>
                    <i class="fa fa-check-circle"><%= f.submit "Update", :class=>"btn btn-default btn-sm"%></i>


                    <%end%>
                  </div>
                </div>

              </form>
            </div>
          </div>
          <hr>

        </div>
      </div>
    </div>

  </div>
</div>
<br>